# oboskrnl boot configuration file.

# The filesystem drivers to load at boot, these must be in the initrd image.
FS_DRIVERS=[ 0:/fatDriver ]
# Whether to load only trusted drivers at boot.
# TODO: Implement.
TRUSTED_DRIVERS_ONLY=false
# The init program to start before finishing early-kernel boot.
# This can specify any valid mount point, not just the initrd like FS_DRIVERS.
INIT_PROGRAM=1:/test_program