################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMake Overview
/.vs/cmake.db
/.vs/CMakeWorkspaceSettings.json
/.vs/launch.vs.json
/.vs/linux-debug/Ubuntu.scan.fgp.copy
/.vs/obos/FileContentIndex/1e8937e8-7828-40b1-980a-2d2a83aa240e.vsidx
/.vs/obos/FileContentIndex/32ef24ef-1db0-410c-8f47-187b3d1da0df.vsidx
/.vs/obos/FileContentIndex/388c940c-fa9a-4a20-84cf-03a3a9d9382f.vsidx
/.vs/obos/FileContentIndex/c93cea37-227a-4834-bec8-452ee572a1c8.vsidx
/.vs/obos/FileContentIndex/read.lock
/.vs/obos/v17/.wsuo
/.vs/obos/v17/Browse.VC.db
/.vs/obos/v17/Browse.VC.db-shm
/.vs/obos/v17/Browse.VC.db-wal
/.vs/obos/v17/Browse.VC.opendb
/.vs/obos/v17/ipch/AutoPCH/1789eed16ed26930/INTERRUPTS.ipch
/.vs/obos/v17/ipch/AutoPCH/17f1f62f0c52fa99/PAGING.ipch
/.vs/obos/v17/ipch/AutoPCH/18e1fe439924a4df/MAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/1bd168e2e3ea31e6/ACPI.ipch
/.vs/obos/v17/ipch/AutoPCH/1dbf4a2561f24d3f/PROC.ipch
/.vs/obos/v17/ipch/AutoPCH/1e58ede87cb71418/KMAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/21b2b3c69cb2932b/KHEAP.ipch
/.vs/obos/v17/ipch/AutoPCH/21c14de96f822a99/TERMINAL.ipch
/.vs/obos/v17/ipch/AutoPCH/24011bfd429a6e0b/PAGING.ipch
/.vs/obos/v17/ipch/AutoPCH/24fa71b5b8800f09/INLINE-ASM.ipch
/.vs/obos/v17/ipch/AutoPCH/279b9db5adffd91e/KMAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/28fff6d2b072598e/INTERRUPTS.ipch
/.vs/obos/v17/ipch/AutoPCH/2e9bce5309818304/DESCRIPTOR_TABLES.ipch
/.vs/obos/v17/ipch/AutoPCH/397322b0709d52d6/LIST_NODE.ipch
/.vs/obos/v17/ipch/AutoPCH/3f6707fe3a66eec1/KALLOC.ipch
/.vs/obos/v17/ipch/AutoPCH/4dbd513eba7ead5a/KEYBOARD.ipch
/.vs/obos/v17/ipch/AutoPCH/54f0cc020158bc73/ERROR.ipch
/.vs/obos/v17/ipch/AutoPCH/54f0d5020158cbbe/ERROR.ipch
/.vs/obos/v17/ipch/AutoPCH/62b6c8e2d56548f7/KALLOC.ipch
/.vs/obos/v17/ipch/AutoPCH/66bd46f3395871bd/ERROR.ipch
/.vs/obos/v17/ipch/AutoPCH/6edbc4ed212f5bf2/KSERIAL.ipch
/.vs/obos/v17/ipch/AutoPCH/715ee481a847ae0c/LIST_NODE.ipch
/.vs/obos/v17/ipch/AutoPCH/750d57739035ef1/INTERRUPTS.ipch
/.vs/obos/v17/ipch/AutoPCH/7ec026ed3dda11c/INLINE-ASM.ipch
/.vs/obos/v17/ipch/AutoPCH/7fda3eb2df0668/KPAGING.ipch
/.vs/obos/v17/ipch/AutoPCH/82fef9140b42b1ba/GDT.ipch
/.vs/obos/v17/ipch/AutoPCH/8abb96ece76444f0/MUTEXES.ipch
/.vs/obos/v17/ipch/AutoPCH/8abba1ece76457a1/MUTEXES.ipch
/.vs/obos/v17/ipch/AutoPCH/8ee6487de1c6d2b2/KMAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/8efbe85ce38edb06/MULTITASKING.ipch
/.vs/obos/v17/ipch/AutoPCH/8efbef5ce38ee6eb/MULTITASKING.ipch
/.vs/obos/v17/ipch/AutoPCH/902c185551f908f/TERMINAL.ipch
/.vs/obos/v17/ipch/AutoPCH/908096d19cc812df/MAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/938d6a3ad77f16df/MAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/9cba5a5e1a024a0a/SYSCALL.ipch
/.vs/obos/v17/ipch/AutoPCH/9d4ed60621376eda/KLOG.ipch
/.vs/obos/v17/ipch/AutoPCH/9e2f25847c06f936/INITRD.ipch
/.vs/obos/v17/ipch/AutoPCH/9e2f2c847c07051b/INITRD.ipch
/.vs/obos/v17/ipch/AutoPCH/9e7032f556773417/TASK.ipch
/.vs/obos/v17/ipch/AutoPCH/a3e3042c41002230/KLOG.ipch
/.vs/obos/v17/ipch/AutoPCH/a47d70931ec13391/FAT.ipch
/.vs/obos/v17/ipch/AutoPCH/a55234a95dad7442/LIST_ITERATOR.ipch
/.vs/obos/v17/ipch/AutoPCH/b3cb38e2477ec8a4/RENDER.ipch
/.vs/obos/v17/ipch/AutoPCH/bd294e7ca49f0e4/MAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/bd3bd8e4ea51eeea/GDT.ipch
/.vs/obos/v17/ipch/AutoPCH/bffdd0aff4fcdbb1/SHUTDOWN.ipch
/.vs/obos/v17/ipch/AutoPCH/c25db854c496367/MAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/c448c02a62b0f68b/MAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/c62fa66e6d402882/ACPI.ipch
/.vs/obos/v17/ipch/AutoPCH/c86f354254ce05e2/MUTEXES.ipch
/.vs/obos/v17/ipch/AutoPCH/c86f3c4254ce11c7/MUTEXES.ipch
/.vs/obos/v17/ipch/AutoPCH/ca22c9f4739772b9/LIST.ipch
/.vs/obos/v17/ipch/AutoPCH/ca74eae926c0af12/PAGING.ipch
/.vs/obos/v17/ipch/AutoPCH/cc60c022c4d3ad5/MULTITASKING.ipch
/.vs/obos/v17/ipch/AutoPCH/d0aaef007d167e0d/UTIL.ipch
/.vs/obos/v17/ipch/AutoPCH/d18193b1a7ad14bb/HASHTABLE.ipch
/.vs/obos/v17/ipch/AutoPCH/d21ad664759d8c38/ACPI.ipch
/.vs/obos/v17/ipch/AutoPCH/d2c975e5273cdaa3/LIBALLOC_1_1.ipch
/.vs/obos/v17/ipch/AutoPCH/d2c97ee5273ce9ee/LIBALLOC_1_1.ipch
/.vs/obos/v17/ipch/AutoPCH/d3331606ac33f0a9/BITFIELDS.ipch
/.vs/obos/v17/ipch/AutoPCH/d40e6f372b721ee7/INTERRUPTS.ipch
/.vs/obos/v17/ipch/AutoPCH/d9d94e2d35fc1256/LAUNCHER.ipch
/.vs/obos/v17/ipch/AutoPCH/dbcd2407d6164767/MAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/dcfdea448cae9294/GDT.ipch
/.vs/obos/v17/ipch/AutoPCH/e404670aa15ef244/KEYBOARD.ipch
/.vs/obos/v17/ipch/AutoPCH/e56e844a587fe213/KMAIN.ipch
/.vs/obos/v17/ipch/AutoPCH/e712ea0a856d0d7b/LIST.ipch
/.vs/obos/v17/ipch/AutoPCH/eaa3ec3a5f7a22a/LOGGER.ipch
/.vs/obos/v17/ipch/AutoPCH/eecffe18bcc6c30/MAIN.ipch
/.vs/obos/FileContentIndex/f752f62d-c84a-4fc6-becd-f97d5e5e27d9.vsidx
/out/build/x86-debug/.ninja_deps
/.vs/obos/FileContentIndex/773ae6b6-6236-4004-a8cd-88640160874c.vsidx
/kernel_terminal/.vs/kernel_terminal/FileContentIndex/052b2ab9-49f4-4a1c-986a-2f608b24ec54.vsidx
/kernel_terminal/.vs/kernel_terminal/FileContentIndex/1276b120-1d70-4aea-b0bb-222c044df205.vsidx
/kernel_terminal/.vs/kernel_terminal/FileContentIndex/689b2e15-dec4-46d0-8762-3e4753874add.vsidx
/.vs/obos/FileContentIndex/8a7c2dfb-e92b-4054-9128-337a8c38b86e.vsidx
/kernel_terminal/.vs/kernel_terminal/FileContentIndex/b334ffe2-33d2-4dac-b56b-8c7d8f2bc8a8.vsidx
/.vs/obos/FileContentIndex/c3614097-f733-4968-801d-353978ae4233.vsidx
/cmake_install.cmake
/kernel_terminal/.vs/cmake.db
/out/build/i686-elf/.cmake/api/v1/reply/cache-v2-8f2882f566f79f8e1666.json
/out/build/i686-elf/.cmake/api/v1/reply/cmakeFiles-v1-6b0d1b12a0740848a3d7.json
/out/build/i686-elf/build.ninja
/out/build/i686-elf/CMakeCache.txt
/out/build/i686-elf/CMakeFiles/3.26.0-msvc3/CMakeASM-ATTCompiler.cmake
/out/build/i686-elf/CMakeFiles/3.26.0-msvc3/CMakeASMCompiler.cmake
/out/build/i686-elf/CMakeFiles/3.26.0-msvc3/CMakeASM_NASMCompiler.cmake
/out/build/i686-elf/CMakeFiles/3.26.0-msvc3/CMakeCCompiler.cmake
/out/build/i686-elf/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.c
/out/build/i686-elf/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.o
/out/build/i686-elf/CMakeFiles/cmake.check_cache
/out/build/i686-elf/CMakeFiles/CMakeConfigureLog.yaml
/out/build/i686-elf/cmake_install.cmake
/out/build/i686-elf/kernel/cmake_install.cmake
/out/build/i686-elf/launch-qemu/cmake_install.cmake
/out/build/x64-debug/.cmake/api/v1/reply/cache-v2-c063f0b0443a63d3a9d2.json
/out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-e96ceacf7491a0b22489.json
/out/build/x64-debug/build.ninja
/out/build/x64-debug/CMakeCache.txt
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CMakeASM-ATTCompiler.cmake
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CMakeASMCompiler.cmake
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CMakeASM_NASMCompiler.cmake
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CMakeCCompiler.cmake
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CMakeDetermineCompilerABI_C.bin
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.c
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.exe
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.obj
/out/build/x64-debug/CMakeFiles/cmake.check_cache
/out/build/x64-debug/CMakeFiles/CMakeConfigureLog.yaml
/out/build/x64-debug/cmake_install.cmake
/out/build/x64-debug/kernel/cmake_install.cmake
/out/build/x64-debug/launch-qemu/cmake_install.cmake
/out/build/x86-debug/.cmake/api/v1/reply/cache-v2-764d5efce34a336e830f.json
/out/build/x86-debug/.cmake/api/v1/reply/cmakeFiles-v1-561dd4ac03d50c16198a.json
/out/build/x86-debug/build.ninja
/out/build/x86-debug/CMakeCache.txt
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CMakeASM-ATTCompiler.cmake
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CMakeASMCompiler.cmake
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CMakeASM_NASMCompiler.cmake
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CMakeCCompiler.cmake
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CMakeDetermineCompilerABI_C.bin
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.c
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.exe
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CompilerIdC/CMakeCCompilerId.obj
/out/build/x86-debug/CMakeFiles/cmake.check_cache
/out/build/x86-debug/CMakeFiles/CMakeConfigureLog.yaml
/out/build/x86-debug/cmake_install.cmake
/out/build/x86-debug/kernel/cmake_install.cmake
/out/build/x86-debug/launch-qemu/cmake_install.cmake
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/cache-v2-b6afb3225e0ab51867b0.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/cmakeFiles-v1-42e026af8168d1102dd2.json
/out/build/i686-elf/Testing/Temporary/LastTest.log
/out/build/x64-debug/Testing/Temporary/LastTest.log
/out/build/x86-debug/Testing/Temporary/LastTest.log
/out/launch-qemu.exe
/kernel/Makefile
/out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
/out/build/x86-debug/CMakeFiles/ShowIncludes/main.obj
/.vs/slnx.sqlite
/out/build/i686-elf/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/i686-elf/CMakeFiles/rules.ninja
/out/build/x64-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x64-debug/CMakeFiles/rules.ninja
/out/build/x86-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/out/build/x86-debug/CMakeFiles/rules.ninja
/out/Ubuntu/build/linux-debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
/.vs/obos/v17/workspaceFileList.bin
/.vs/VSWorkspaceState.json
/out/build/i686-elf/VSInheritEnvironments.txt
/out/build/x64-debug/VSInheritEnvironments.txt
/out/build/x86-debug/kernel/CMakeFiles/oboskrnl.dir/virtual8086.asm.obj
/out/build/x86-debug/VSInheritEnvironments.txt
/out/build/i686-elf/.cmake/api/v1/reply/toolchains-v1-47d79cbe18ec6b0be1ba.json
/out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-f8088852da31f9fbc9ae.json
/out/build/x86-debug/.cmake/api/v1/reply/toolchains-v1-3c36c56b8a8df72432c1.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/toolchains-v1-9d58b4260b3903899860.json
/out/build/i686-elf/.cmake/api/v1/reply/target-launch-qemu-Debug-8c33dd734091a7502643.json
/out/build/i686-elf/.cmake/api/v1/reply/target-oboskrnl-Debug-ead0979abc0f9cf5a35a.json
/out/build/i686-elf/CMakeFiles/TargetDirectories.txt
/out/build/x64-debug/.cmake/api/v1/reply/target-launch-qemu-Debug-f5166cb24d9d7d9df5bc.json
/out/build/x64-debug/.cmake/api/v1/reply/target-oboskrnl-Debug-ebed703dbd65172d7be6.json
/out/build/x64-debug/CMakeFiles/TargetDirectories.txt
/out/build/x86-debug/.cmake/api/v1/reply/target-launch-qemu-Debug-1470cfa05ee6aa57048f.json
/out/build/x86-debug/.cmake/api/v1/reply/target-oboskrnl-Debug-058d40dd1052b792b805.json
/out/build/x86-debug/CMakeFiles/TargetDirectories.txt
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/target-launch-qemu-Debug-b93440d2976023a59491.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/target-oboskrnl-Debug-a5f114a4f48f6d755332.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/target-obos_fat-Debug-873e5312a120b0a41829.json
/.vs/ProjectSettings.json
/kernel_terminal/.vs/kernel_terminal/v17/ipch/AutoPCH/e977e686f1a6fda/KERNEL_TERMINAL.ipch
/kernel_terminal/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/index-2023-06-25T10-39-50-0328.json
/out/build/i686-elf/.cmake/api/v1/reply/index-2023-07-04T21-15-35-0679.json
/out/build/x64-debug/.cmake/api/v1/reply/index-2023-07-04T18-15-59-0567.json
/out/build/x86-debug/.cmake/api/v1/reply/index-2023-07-04T18-09-57-0754.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/index-2023-07-15T19-13-59-0573.json
/out/Ubuntu/build/linux-debug/isenseconfig/iconfig.json
/.vs/obos/FileContentIndex/668c46de-3357-462a-99a8-5a4b77a91aa7.vsidx
/out/build/i686-elf/.cmake/api/v1/reply/codemodel-v2-436fff0e98fa4eeedea2.json
/out/build/i686-elf/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/out/build/i686-elf/.cmake/api/v1/reply/directory-kernel-Debug-aca21cc9eb6a9f1351ad.json
/out/build/i686-elf/.cmake/api/v1/reply/directory-launch-qemu-Debug-23f6a4da00bf52ae9b60.json
/out/build/i686-elf/CMakeFiles/3.26.0-msvc3/CMakeSystem.cmake
/out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-4bdb1712a96b46972fdf.json
/out/build/x64-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/out/build/x64-debug/.cmake/api/v1/reply/directory-kernel-Debug-aca21cc9eb6a9f1351ad.json
/out/build/x64-debug/.cmake/api/v1/reply/directory-launch-qemu-Debug-23f6a4da00bf52ae9b60.json
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CMakeRCCompiler.cmake
/out/build/x64-debug/CMakeFiles/3.26.0-msvc3/CMakeSystem.cmake
/out/build/x86-debug/.cmake/api/v1/reply/codemodel-v2-a7d32194301cb66b5892.json
/out/build/x86-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/out/build/x86-debug/.cmake/api/v1/reply/directory-kernel-Debug-aca21cc9eb6a9f1351ad.json
/out/build/x86-debug/.cmake/api/v1/reply/directory-launch-qemu-Debug-23f6a4da00bf52ae9b60.json
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CMakeRCCompiler.cmake
/out/build/x86-debug/CMakeFiles/3.26.0-msvc3/CMakeSystem.cmake
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/codemodel-v2-9b53243aeccc5086e1e9.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/directory-fatDriver-Debug-a5a06dbf3801d0d30084.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/directory-kernel-Debug-63291c6cc366f65a85d4.json
/out/Ubuntu/build/linux-debug/.cmake/api/v1/reply/directory-launch-qemu-Debug-d5fff1a020a1aec47472.json
