################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build
/CMakePresets.json
/oldCMakeSettings.json
/out/Ubuntu
/limine
/qemu_log.txt
/documentation/html
/qemu_log.txt
/.vscode
/.VSCodeCounter
/build
/scripts/copy_files_to_disk.bat
/bck
/disk.img