################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build
/CMakePresets.json
/oldCMakeSettings.json
/out/Ubuntu
/limine